* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#page1 {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://static.vecteezy.com/system/resources/previews/057/779/247/large_2x/lush-green-rainforest-valley-landscape-with-majestic-mountains-and-fog-photo.jpeg");
   padding-top:  1px; 
 
    #nav1 {
        width: 80%;
        margin-left: 10%;
        height: 53px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 2%;
        position: relative;
        
        h1 {
            font-size: 20px;
            color: white;
        }
        h1:hover {
            text-decoration: underline;
            cursor: pointer;
        }
        #logo {
            height: 50px;
            border-radius: 3px;
            margin-left: -85px;
        }
        #search {
            height: 30px;
            transition: all ease 0.123s;
            filter: invert(50%);
        }
        #search:hover {
            scale: 1.1;
            filter: invert(100%);
            text-decoration: underline white;
        }
    }
    #nav1 ::after{
        content: "";   
position: absolute;
bottom: 0;
left: 13%;
width: 72%;
border-bottom:3px solid white ;
    }
}
#page1 #box1{
    margin-top: 220px;
    margin-left: 100px;
    position: relative;
}

#page1 #box1 h1{
font-style: italic;
font-size: 80px;
color: aliceblue;
}
#page1 #box1 p{
font-style: italic;
font-size: 20px;
color: aliceblue;
width: 400px;
}

#page1 #box2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    bottom: 100px;
   margin-top: 70px;
   width: 80%;
   margin-left: 7%;
   
}
#page1 #box2 ::after{
        content: "";   
position: absolute;
bottom: 3%;
left: 6.8%;
width: 79%;
border-bottom:3px solid white ;
pointer-events: none;
    }
#page1 #box2 .inbox2{
    padding: 10px;
}
#page1 #box2 .inbox2 button{
    padding: 8px 18px;
    border-radius: 50px;
    margin-top: 5px;
    background-color: rgb(185, 200, 187);
    transition: all ease 0.5s;
    text-decoration: none;
    
}
#page1 #box2 .inbox2 button:hover{
   scale: 1.1;
   text-decoration: none;
   cursor: pointer;
}
#page1 #box2 .inbox2 p{
    color: aliceblue;
}
#page1 #box2 .inbox2 img{
    height: 60px;
}



#page2{
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    padding: 3%;
}
#page2 h1{
    font-size: 40px;
    margin-bottom: 30px;
}
#page2 #box1{
 display: flex;
 align-items: center; 
 justify-content: space-between;  
 padding: 4%;
 background-color: aqua;
 height: 500px;
 width: 100%;
}

#page2 #box1 #box1-1{
height: 400px;
width: 200px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/1000_Eiffel_tower_night_illumination_by_Pierre_Bideau_in_Paris_Photo_by_Giles_Laurent.jpg/250px-1000_Eiffel_tower_night_illumination_by_Pierre_Bideau_in_Paris_Photo_by_Giles_Laurent.jpg");
}
#page2 #box1 #box1-2{
height: 400px;
width: 200px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-image: url("https://static.vecteezy.com/system/resources/thumbnails/013/891/829/small/fantastic-mediterranean-santorini-island-greece-amazing-romantic-sunrise-in-oia-background-morning-light-amazing-sunset-view-with-white-houses-blue-domes-panoramic-travel-landscape-lovers-island-photo.jpg");
}
#page2 #box1 #box1-3{
height: 400px;
width: 200px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzn2TH7tiGDdWv4zQQOeS2bon6Mf7WBxKcdQ&s");
}
#page2 #box1 #box1-4{
height: 400px;
width: 200px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-TaKh0Vw7c8xQNMD-YzuZfHkFQBrrsuukoA&s");
}




